*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
width: 80%;
margin: 0px auto;
}

#service-section{
    padding: 80px 0;
    /* height: 500px; */
    display: flex;
    min-height: 80vh;
}

#service-section .img-service{
   width: 30%; 
   background-size: cover;
    /* background-position: center; */
    min-height: 65vh;
    background-image: url(../img/car.s.png); 
    margin-left: 10%;
}

#service-section .text-service{
    width: 50%; 
    background: black;
    color: white;
 }

 #service-section .text-service h2{
    font-weight: 800;
    font-size: 64px;
    margin-top: 40px;
    margin-left: 60px;
    margin-bottom: 10px;
 }

 #service-section .text-service p{
    font-weight: 600;
    font-size: 18px;
    width: 80%;
    margin-left: 60px;  
 }


 .flex{
    display: flex;
 }

 .orange-btn{
    background: #FF6433;
    color: #FFff ;
    padding: 16px;
    margin-top: 18px;
    border-radius: 12px;
    font-size: 18px;
    margin-left: 60px;  
 }

 #auto-section{
    background: #F5F5F5;
    min-height: 80vh;
    padding: 80px 0;
 }
 
 #auto-section .auto .left-auto{
   background: #FFff;
   width: 50%;
   /* min-height: 70vh; */
   padding-top: 10px;
   padding-bottom: 50px;

   
 }

 #auto-section .img-auto{
   width:80%;
   background-size: cover;
   background-image: url(../img/auto-img.png);
   min-height: 50vh;
   margin: 30px auto; 
}

#auto-section .text-auto h4{
   font-weight: 700;
   font-size: 30px;
   margin-left: 40px;
}

#auto-section .text-auto h6{
   /* font-weight: 600; */
font-size: 18px;
margin-left: 40px;
margin-top: 10px;
width:80%; ;
color: #232536;
opacity: 0.6;
}
